
.menu {
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 110px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid #cccccc;
  background: white;
}

.nav {
  width: 960px;
  margin: 0 auto;
}

#options li{
  display: inline-block;
  text-align: right;
  position: relative;
  padding: 10px;
  width: 100px;
  right: -550px;
  text-decoration: none;
}

  
h3:hover{
  color: darkslategray ;
}

.me{
  text-align: center;
  background-color: white;
  width: 960px;
  height: 500px;
  position: relative;
  left: 480px;
  top: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

.KAT{
  width: 50%;
  padding: 20px;
  float: left;
}

.boring{
  text-align: left;
  display: inline-block;
  padding:10px;
}


h1 {
  padding: 10px;
  font-size: 28px;
  background: #4aaaa5;
  color: #FFFFFF;
  font-family: 'Georgia', Times, Times New Roman, serif;
  position: fixed;
}

h2 {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #4aaaa5;
  text-align: left;
  float: top;
  font-family: 'Georgia', Times, Times New Roman, serif;
}


h3 {
  font-size: 18px;
  color: #777777;
  font-family: 'Georgia', Times, Times New Roman, serif}
  text-align: center; 
}

h4 {
  font-size: 18px;
  color: #777777;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  display: inline-block;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #777777;
  background-image: url("../images/checkerboard-cross/checkerboard-cross.png");
  background-repeat: repeat;
}


/* Contact */

.form{  
  text-align: left;
  background-color: white;
  height: 300px;
  top: -10px;
  padding: 10px;
}

.formcontainer{
  padding: 10px;
}

#name{
  width:100%;
  height: 25px;
}

#email{
  width:100%;
  height: 25px;
}

#message{
  width: 100%;
  height: 50px;
}

#submit{
  background-color: #4aaaa5; 
  color: #FFFFFF;
  padding: 10px;
  font-weight: bold;
}


/* Portfolio */


.portfolio{
  padding: 10px;
  display: in-block;
  width: 100%;
  align-items: center;
}

.fun{
  float: left;
  padding: 10px;
}

.ice{
  float: left;
  padding: 10px;
}

.needlepoint{
  float: left;
  padding: 10px;
}

.guns{
  float: left;
  padding: 10px;
}

.random{
  float: left;
  padding: 10px;
}

.footerwrap{
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 5px solid #4aaaa5;
}

.footer{
  width: 100%;
  height: -10px;
}

.copyright{
  text-align: center;
  width: 100%;
  background-color: #666666;
  color: lightgray;
  padding: 5px;
}