
h1 {
  padding: 10px 0;
  margin: 10;
  margin-bottom: 20px;
  font-size: 28px;
  text-align: center;
  background: #4aaaa5;
  color: #FFFFFF;
  /* float: left; */
  font-family: 'Georgia', Times, Times New Roman, serif;
  position: absolute;
}

h2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #4aaaa5;
  text-align: left;
  float: top;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
  font-size: 18px;
  color: #777777;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #777777;
  background-image: url("../images/checkerboard-cross/checkerboard-cross.png");
  background-repeat: repeat;
}

.KAT{
  margin: 10px 30px 20px 0px;
  width: 50%;
  padding: 10px;
  float: left;
}

.me{
  text-align: left;
  position: relative;
}


header{
  padding: 0;
  background-color: white;
}

.menu {
    width: 100%;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #777777;
    height: 100px;
    position: fixed;
    top: 0;
}

.nav {
  width: 960px;
  margin: 0 auto;
}

.options{
  position: relative;
  text-align: right;
}

/* TO DO List */
add margin/padding on options class
margin auto 0 only for top/bottom not left/right
for anchor tags: set different states, define set of rules in css, make sure you use dev tools inspect :hov to set status clicked/not clicked/hover
:hov is like pseudo element so need to add in css a:hove<target>




/* Portfolio */
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(90deg);
  }

.portfolio{
  display: flex;
  flex-wrap;
  padding: 0 4px;
  justify-content: space-evenly;
}

.fun {
  position: center;
  font-size: 20px;
  vertical-align:left;
}

.ice {
  position: center;
  font-size: 20px;
}

.needlpoint {
  position: center;
  font-size: 20px;
}

.guns {
  position: center;
  font-size: 20px;
}

.random {
  position: center;
  font-size: 20px;
}