

h1 {
  padding: 10px 0;
  margin: 10;
  margin-bottom: 20px;
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  background: #4aaaa5;
  float: left;
  font-family: 'Georgia', Times, Times New Roman, serif;
  position: absolute;
}

h2 {
  padding: 20px 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  color: #4aaaa5;
  text-align: left;
  float: top;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

h3 {
  font-size: 18px;
  color: #777777;
  text-align: center;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

body {
  padding: 150px 300px 150px 300px;
  margin: 0; auto;
  width: 960px;
  height: 800px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #777777;
  background-image: url("../images/checkerboard-cross/checkerboard-cross.png");
  background-repeat: repeat;
  text-align: left;
}

.KAT{
  margin: 10px 30px 20px 0px;
  width: 50%;
  padding: 10px;
  float: left;
}

.me{
  text-align: left;
  position: relative;
}

.name{
  position: fixed;
  top: 50px;
}

.menu{
  position: relative;
  float: top;
}



/* Portfolio */
.rotateimg180 {
  -webkit-transform:rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(90deg);
  }

.portfolio{
  display: flex;
  flex-wrap;
  padding: 0 4px;
  justify-content: space-evenly;
}

.fun {
  position: center;
  font-size: 20px;
  vertical-align:left;
}

.ice {
  position: center;
  font-size: 20px;
}

.needlpoint {
  position: center;
  font-size: 20px;
}

.guns {
  position: center;
  font-size: 20px;
}

.random {
  position: center;
  font-size: 20px;
}